.required:after {
  content: "*";
  color: red;
}
input.error,
select.error,
textarea.error {
  border: 1px solid #E6281E;
}

label.error {	
	color: #E6281E;
	font-size: 11px;
	font-weight: normal;
	display: block;
}
.monto{
    text-align: right;
}